<div class="row">
  <h2>スポット詳細</h2>

  <div class="col-sm-8 offset-sm-2">
    <%= image_tag @place.get_image %>
    <h3><%= @place.title %></h3>
    <p><%= @place.body %></p>
  </div>

  <div class="col-sm-5 ml-3">
    <h5><%= @place.address %></h5>
      <div id='map'></div>

      <style>
        #map{
          height: 200px;
          width: 300px;
        }
      </style>

      <script>
        let map;
        function initMap(){
          geocoder = new google.maps.Geocoder()

          map = new google.maps.Map(document.getElementById('map'), {
            center: {lat: <% @place.latitude %>, lng: <% @place.longitude %>},
            zoom: 8
          });

          marker = new google.maps.Marker({
            position: {lat: <% @place.latitude %>, lng: <% @place.longitude %>},
            map: map
          });
        }
      </script>
      <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_API'] %>&callback=initMap" async defer></script>
  </div>

  <div class="col-sm-5 mr-3">
    <h4>スポット情報</h4>
    <table class="table table-borderless">
      <tr>
        <th>営業時間</th>
        <td><%= @place.business_hour %></td>
      </tr>
      <tr>
        <th>料金</th>
        <td><%= @place.price %></td>
      </tr>
      <tr>
        <th>アクセス方法</th>
        <td><%= @place.access %></td>
      </tr>
      <tr>
        <th>投稿者</th>
        <td>
          <%= image_tag プロフィール画像のパス, size:"50x50" %>
          <!--↓if文使って、フルネームかニックネームを表示させる-->
          <%= @place.user.nickname %>
        </td>
      </tr>
    </table>
  </div>

  <div>
    <% if @place.user == current_user %>
      <%= link_to "編集", edit_post_path(@place.id) %>
      <%= link_to "削除", post_path(@place.id), method: :delete, "data-confirm" => "この投稿を削除します。よろしいですか？" %>
    <% end %>
  </div>
</div>
