<h2 class="m-3">スポット詳細</h2>

<div class="row justify-content-center">
  <div class="col-sm-5">
    <%= image_tag @place.get_image, class:"text-center" %>
  </div>

  <div class="col-sm-5">
    <h3><%= @place.title %></h3>
    <p><%= @place.body %></p>
    <% if @place.favorited_by?(current_user) %>
      <p>
        <%= link_to post_favorites_path(@place), method: :delete do %>
          ♥<%= @place.favorites.count %> いいね
        <% end %>
      </p>
    <% else %>
      <p>
        <%= link_to post_favorites_path(@place), method: :post do %>
          ♡<%= @place.favorites.count %> いいね
        <% end %>
      </p>
    <% end %>
    <div class="text-right">
      <% if @user == current_user %>
      <%= link_to "編集", edit_post_path(@place.id), class:"btn btn-outline-secondary" %>
      <%= link_to "削除", post_path(@place.id), method: :delete, "data-confirm" => "この投稿を削除します。よろしいですか？", class:"btn btn-outline-danger" %>
    <% end %>
    </div>
  </div>
</div>

<div class="row justify-content-center">
  <div class="col-sm-5 bg-success">
    <h5><%= @place.address %></h5>
      <div id='map'></div>

      <style>
        #map{
          height: 100px;
          width: 200px;
        }
      </style>

      <script>
        let map;
        function initMap(){
          geocoder = new google.maps.Geocoder()

          map = new google.maps.Map(document.getElementById('map'), {
            center: {lat: <% @place.latitude %>, lng: <% @place.longitude %>},
            zoom: 8
          });

          marker = new google.maps.Marker({
            position: {lat: <% @place.latitude %>, lng: <% @place.longitude %>},
            map: map
          });
        }
      </script>
      <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_API'] %>&callback=initMap" async defer></script>
  </div>

  <div class="col-sm-5 bg-info">
    <h4>スポット情報</h4>
    <table class="table table-borderless">
      <tr>
        <th>営業時間</th>
        <td><%= @place.business_hour %></td>
      </tr>
      <tr>
        <th>料金</th>
        <td><%= @place.price %></td>
      </tr>
      <tr>
        <th>アクセス方法</th>
        <td><%= @place.access %></td>
      </tr>
      <tr>
        <th>投稿者</th>
        <td>
          <%= @user.last_name %> <%= @user.first_name %>
          <%= @user.nickname %>
        </td>
      </tr>
    </table>
  </div>
</div>

<div class="row">
  <div class="col-sm-10 offset-sm-1 bg-warning">
    <p>コメント件数：<%= @place.comments.count %></p>
    <% @place.comments.each do |comment| %>
      <%= comment.user.last_name %>
      <%= comment.user.first_name %>
      <%= comment.user.nickname %>
      <%= comment.created_at.strftime('%Y/%m/%d') %><%= comment.comment %>
      <% if comment.user == current_user %>
        <%= link_to "削除", post_comment_path(comment.post, comment), method: :delete, class:"btn btn-outline-warning" %>
      <% end %>
    <% end %>
  </div>

  <div class="col-sm-10 offset-sm-1 bg-warning">
    <%= form_with model: [@place, @comment] do |f| %>
      <%= f.text_area :comment, rows: '3', placeholder: "コメントを書く" %>
      <%= f.submit "送信する", class:"btn btn-outline-dark" %>
    <% end %>
  </div>
</div>
