<div id="theTarget">
  <div class="image1"></div>
  <div class="image2"></div>
  <div class="image3"></div>
  <div class="image4"></div>
  <div class="image5"></div>
</div>

<style>
  #theTarget {
    height:500px;
  }

  .image1 {
    background-image: url(image1.jpg);
  }

  .image2 {
    background-image: url(image2.jpg);
  }

  .image3 {
    background-image: url(image3.jpg);
  }

  .image4 {
    background-image: url(image4.jpg);
  }

  .image5 {
    background-image: url(image5.jpg);
  }
</style>

<% if user_signed_in? %>
  <div class="search_form">
    <%= form_with url: search_path, local: true, method: :get do |f| %>
      <%= f.text_field :word %>
      <%= f.select :range, options_for_select([['User'], ['Post']]) %>
      <%= f.select :search, options_for_select([["完全一致","perfect_match"], ["前方一致","forward_match"],  ["後方一致","backward_match"], ["部分一致","partial_match"]]) %>
      <%= f.submit "検索", class:"btn btn-outline-dark" %>
    <% end %>
  </div>
<% end %>
