<h2 class="m-3">スポット詳細</h2>

<div class="row justify-content-center">
  <div class="col-sm-5">
    <%= image_tag @place.get_image, class:"text-center m-3 show-img" %>
  </div>

  <div class="col-sm-5">
    <h3><%= @place.title %></h3>
    <p><%= @place.body %></p>
    <div class="text-right">
      <%= link_to "削除", admin_post_path(@place.id), method: :delete, "data-confirm" => "この投稿を削除します。よろしいですか？", class:"btn btn-outline-danger" %>
    </div>
  </div>
</div>

<div class="row justify-content-center">
  <div class="col-sm-5">
    <div id='map'></div>

    <style>
      #map{
        height: 500px;
        width: 400px;
      }
    </style>

    <script>
      let map;
      function initMap(){
        geocoder = new google.maps.Geocoder()

        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: <%= @place.latitude %>, lng: <%= @place.longitude %>},
          zoom: 12
        });

        marker = new google.maps.Marker({
          position: {lat: <%= @place.latitude %>, lng: <%= @place.longitude %>},
          map: map
        });
      }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_API'] %>&callback=initMap" async defer></script>
  </div>

  <div class="col-sm-5">
    <h4>スポット情報</h4>
    <table class="table table-borderless">
      <tr>
        <th><i class="fas fa-map-marker-alt"></i> 住所</th>
        <td><%= @place.address %></td>
      </tr>
      <tr>
        <th><i class="fas fa-clock"></i> 営業時間</th>
        <td><%= @place.business_hour %></td>
      </tr>
      <tr>
        <th><i class="fas fa-coins"></i> 料金</th>
        <td><%= @place.price %></td>
      </tr>
      <tr>
        <th class="text-truncate"><i class="fas fa-walking"></i> アクセス方法</th>
        <td><%= @place.access %></td>
      </tr>
      <tr>
        <th><i class="fas fa-user-edit"></i> 投稿者</th>
        <td>
          <% if @user.nickname.present? %>
            <%= @user.nickname %>
          <% else %>
            <%= @user.last_name %> <%= @user.first_name %>
          <% end %>
        </td>
      </tr>
      <tr>
        <th><i class="fas fa-tag"></i> タグ</th>
        <td>
          <% @post_tags.each do |tag| %>
            <%= link_to tag.name, admin_post_search_tag_path(@place, tag) %>
            <%= "(#{tag.posts.count})" %>
          <% end %>
        </td>
      </tr>
    </table>
  </div>
</div>

<div class="row">
  <div class="col-sm-10 offset-sm-1">
    <p class="text-right">コメント件数：<%= @place.comments.count %></p>
    <table class="table">
      <tr class="table-secondary">
        <th>コメント</th>
        <th>投稿者</th>
        <th>投稿日</th>
        <th></th>
      </tr>
      <% @place.comments.each do |comment| %>
      <tr>
        <td>
          <%= comment.comment %>
        </td>
        <td>
          <% if comment.user.nickname.present? %>
            <%= comment.user.nickname %>
          <% else %>
            <%= comment.user.last_name %>
            <%= comment.user.first_name %>
          <% end %>
        </td>
        <td>
          <%= comment.created_at.strftime('%Y/%m/%d') %>
        </td>
        <td>
          <%= link_to "削除", admin_comment_path(comment.post, comment), method: :delete, class:"btn btn-outline-warning" %>
        </td>
      </tr>
      <% end %>
    </table>
  </div>

</div>
