<h2 class="m-3 ">新規会員登録</h2>

<div class="row">
  <div class="col-sm-10 offset-sm-1">
  <%= form_with model: @user, url: user_registration_path do |f| %>
    <%= render "public/shared/error_messages", resource: resource %>
    <table class="table table-borderless">
      <tr>
        <th>名前</th>
        <td>
          <%= f.label :last_name, "姓" %>
          <%= f.text_field :last_name, placeholder:"山田" %>
        </td>
        <td>
          <%= f.label :first_name, "名" %>
          <%= f.text_field :first_name, placeholder: "花子" %>
        </td>
      </tr>
      <tr>
        <th><%= f.label :nickname, "ニックネーム" %></th>
        <td><%= f.text_field :nickname, placeholder: "HANAKO" %></td>
      </tr>
      <tr>
        <th><%= f.label :email, "メールアドレス" %></th>
        <td><%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "sample@example.com" %></td>
      </tr>
      <tr>
        <th><%= f.label :phone_number, "電話番号(ハイフンなし)" %></th>
        <td><%= f.text_field :phone_number, placeholder: "09012345678" %></td>
      </tr>
      <tr>
        <th><%= f.label :password, "パスワード" %></th>
        <td>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %>文字以上)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "new-password" %>
        </td>
      </tr>
      <tr>
        <th><%= f.label :password_confirmation, "パスワード(確認用)" %></th>
        <td><%= f.password_field :password_confirmation, autocomplete: "new-password" %></td>
      </tr>
    </table>

  <div class="text-center">
    <%= f.submit "新規登録", class:"btn btn-outline-info" %>
  </div>
  <% end %>
  </div>
</div>


<%= render "public/shared/links" %>
