<div class="row">
  <h2>マイページ</h2>

  <div>
    <table class="table">
      <tr>
        <th>プロフィール画像</th>
        <td><%= image_tag @user.get_profile_image(100,100) %></td>
      </tr>
      <tr>
        <th>氏名</th>
        <td><%= @user.last_name %> <%= @user.first_name %></td>
      </tr>
      <tr>
        <th>ニックネーム</th>
        <td><%= @user.nickname %></td>
      </tr>
      <tr>
        <th>電話番号</th>
        <td><%= @user.phone_number %></td>
      </tr>
      <tr>
        <th>メールアドレス</th>
        <td><%= @user.email %></td>
      </tr>
      <tr>
        <!--会員資格が有効か停止か-->
        <th></th>
        <td></td>
      </tr>
    </table>
  </div>

  <div>
    <%= link_to "登録情報を編集する", edit_user_path %>
  </div>
</div>
