<!DOCTYPE html>
<html>
  <head>
    <title>Pick up! & Go!</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

　　<%= stylesheet_link_tag 'application' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-light">
        <%= link_to root_path, class:"navbar-brand" do %>
          <h3><i class="fas fa-crosshairs"></i> Pick up! & Go! <i class="fas fa-running"></i></h3>
        <% end %>
        <ul class="nav justify-content-end">
          <% if user_signed_in? %>
            <li class="nav-item">
              <%= link_to "マイページ", user_my_page_path(current_user.id), class:"nav-link btn btn-outline-info mr-1" %>
            </li>
            <li class="nav-item">
              <%= link_to "投稿一覧", posts_path, class:"nav-link btn btn-outline-info mr-1" %>
            </li>
            <li class="nav-item">
              <%= link_to "新規投稿", new_post_path, class:"nav-link btn btn-outline-info mr-1" %>
            </li>
            <li class="nav-item">
              <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class:"nav-link btn btn-outline-danger" %>
            </li>
          <% elsif admin_signed_in? %>
            <li class="nav-item">
              <%= link_to "投稿一覧", admin_posts_path, class:"nav-link btn btn-outline-info mr-1" %>
            </li>
            <li class="nav-item">
              <%= link_to "会員一覧", admin_users_path, class:"nav-link btn btn-outline-info mr-1" %>
            </li>
            <li class="nav-item">
              <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class:"nav-link btn btn-outline-danger" %>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to "新規登録", new_user_registration_path, class:"nav-link btn btn-outline-info mr-1" %>
            </li>
            <li class="nav-item">
              <%= link_to "ログイン", new_user_session_path, class:"nav-link btn btn-outline-info mr-1" %>
            </li>
            <li class="nav-item">
              <%= link_to "管理者ログイン", new_admin_session_path, class:"nav-link btn btn-outline-secondary" %>
            </li>
          <% end %>
        </ul>
      </nav>
    </header>

    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
